In [2]:
import numpy as np 
import pandas as pd

### Import dataset

In [3]:
smoke = pd.read_csv("bw_smoking.csv")
smoke

,nprevist,alcohol,tripre1,tripre2,tripre3,tripre0,birthweight,smoker,unmarried,educ,age,drinks
0,12,0,1,0,0,0,4253,1,1,12,27,0
1,5,0,0,1,0,0,3459,0,0,16,24,0
2,12,0,1,0,0,0,2920,1,0,11,23,0
3,13,0,1,0,0,0,2600,0,0,17,28,0
4,9,0,1,0,0,0,3742,0,0,13,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,15,0,0,1,0,0,2520,0,0,12,42,0
2996,10,0,1,0,0,0,3062,0,0,17,27,0
2997,11,0,0,1,0,0,3799,0,0,12,28,0
2998,10,0,1,0,0,0,2070,1,0,11,21,0
2999,11,0,1,0,0,0,2948,0,0,14,23,0

### 1. The data bw smoking.csv and the description of the data Birthweight Smoking Description.pdf are posted in the same directory as this homework on the course website. Read the description carefully.
    1.1 What is the description of the variable birthweight?